[Unit]
Description=Web Front-End Service

[Service]
ExecStart=/opt/front/python-venv/bin/python3 /opt/front/index.py

[Install]
WantedBy=multi-user.target
